{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "no-unused-expressions": [
            "error",
            {
                "allowTernary": true,
                "allowShortCircuit": true
            }
        ],
        "function-paren-newline": "off"
    }
}